html {
  font-family: monospace;
  font-size: 2ch;
}

.App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-deck {
  margin: 0 !important;
  justify-content: center;
}

.podcast-grid-cover {
  margin: 2em;
  max-width: 200px;
}

.podcast-card {
  width: 30vw;
}

@media screen and (max-width: 1024px) {
  .podcast-card {
    width: 45vw;
  }
}

@media screen and (max-width: 768px) {
  .podcast-card {
    width: 85vw;
    margin: auto;
  }
}

audio {
  width: 30rem;
  border-radius: 0px !important;
}

.modal-dialog {
  font-family: monospace;
}

.upload-form {
  text-align: center !important;
  margin: 0 auto !important;
}

.text-gray {
  color: gray;
}

.dropzone-border {
  border-style: dashed !important;
  /*border-color: gray !important;*/
  border-width: 2px !important;
}

.swal-modal {
  font-family: 'monospace';
}

.swal2-modal {
  font-family: 'monospace' !important;
  text-align: left !important;
  font-size: 1.6ch !important;
}

.swal2-html-container {
  text-align: left !important;
  line-height: 1.5em !important;
}


.swal-button--confirm {
  background-color: #007bff;
  border-color: #007bff;
}

.swal-button--confirm:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.swal2-button--confirm {
  background-color: #007bff;
  border-color: #007bff;
}

.swal2-button--confirm:hover {
  background-color: #007bff;
  border-color: #007bff;
}


.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.play-button {
  color: black !important;
}

.download-button {
  color: black !important;
}

.episode-row {
  padding: 1em !important;
  border-color: black !important;
  border-width: 1px;
  border-style: solid;
}

.episodes-container {
  align-items: center !important;
  margin-bottom: 3em !important;
}

@media screen and (max-width: 900px) {
  .mobile-hide {
    visibility: hidden !important;
    display: none !important;
  }
}

.header-icon {
  width:20px;
  z-index: 15px !important;
}

.rss-button {
  background-color: #f6b26b !important;
  border-color: #f6b26b !important;
  padding: .25rem .4rem !important;
  font-size: .65rem !important;
  /*line-height: .5 !important;*/
  border-radius: 0rem !important;

}

.image-item {
  position:relative;
  padding-top:20px;
  display:inline-block;
}
.episode-badge{
  position: absolute;
  right:3.4em;
  top:19.8em;
  background:rgba(255, 255, 255, 0.424);
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color:rgb(0, 0, 0);
  padding:5px 10px;
  font-size:12px !important;
}